﻿@{
    //Layout = "LoginView";
    ViewData["Title"] = "LoginView";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SasangProjectionScheduler</title>
    <base href="~/" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link href="css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

    @*modal*@
    @*<link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />*@

    @*Add Font*@
    <link href="//fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet" type="text/css">


    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">*@

    <!--Bootsrap 4 CDN-->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">*@
    <!--Fontawesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>

    <form action="Login/LoginView" method="post">
        <div class="container mt-3">
            <div class="container">
                <div class="d-flex justify-content-center h-100">
                    <div class="card" style="border: 1px solid">

                        <h1 style="font-size:24px; font-weight:bold; margin-left:29px; margin-top:40px;">로그인</h1>

                        <div class="input-group form-group" style="width:400px; margin-left:29px; margin-top:18px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-user fa-lg" style="padding-left: 7px;"></i>
                                </span>
                            </div>
                            @*<input type="text" class="form-control" style="border: 1px solid; border-radius:0px 8px 8px 0px; font-weight:800" placeholder="아이디" id="email" name="email">*@
                            <input type="text" class="form-control" style="border: 1px solid; border-radius:0px 8px 8px 0px; font-weight:800" placeholder="아이디" id="email" name="email">

                        </div>

                        <div class="input-group form-group" style="width:400px; margin-left:29px;">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="fas fa-key fa-lg" style="padding-left: 7px;"></i>
                                </span>
                            </div>
                            <input type="password" class="form-control" style="border: 1px solid; border-radius:0px 8px 8px 0px; font-weight:800" placeholder="비밀번호" id="password" name="password">
                        </div>


                        <div class="form-group">
                            @*<button type="button" class="float-right btn btn-primary" style="width:99px; height:40px; margin-right:28px; font-size:16px; font-weight:800; font-family:'Nanum Gothic'">
                                   로그인
                                </button>*@

                            @*<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                    Open modal
                                </button>*@

                            <input type="submit" class="float-right btn-primary" style="width:99px; height:40px; margin-right:28px; font-size:16px; font-weight:800; font-family:'Nanum Gothic'" value="로그인" />
                        </div>

                    </div>
                </div>
            </div>

            <!-- The Modal -->
            <div class="modal fade show" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">로그인 실패</h4>
                            <button type="button" class="close" data-dismiss="modal">×</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            아이디 및 비밀번호를 다시 입력하세요.
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">확인</button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </form>

</body>
</html>





