﻿@page "/test"
@inject NavigationManager NavigationManager

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style="border: 1px solid">

            <h1 style="font-size:24px; font-weight:bold; margin-left:29px; margin-top:40px;">로그인</h1>

            <div class="input-group form-group" style="width:400px; margin-left:29px; margin-top:18px;">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-user fa-lg" style="padding-left: 7px;"></i>
                    </span>
                </div>
                <input type="text" class="form-control" style="border: 1px solid; border-radius:0px 8px 8px 0px; font-weight:800" placeholder="아이디" @bind="@ID">
            </div>

            <div class="input-group form-group" style="width:400px; margin-left:29px;">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="fas fa-key fa-lg" style="padding-left: 7px;"></i>
                    </span>
                </div>
                <input type="password" class="form-control" style="border: 1px solid; border-radius:0px 8px 8px 0px; font-weight:800" placeholder="비밀번호" @bind="@Password">
            </div>


            @*Login*@
            <div class="form-group">
                <button type="button" class="float-right btn btn-primary" style="width:99px; height:40px; margin-right:28px; font-size:16px; font-weight:800; font-family:'Nanum Gothic' " @onclick="LoginClick">
                    로그인
                </button>
            </div>

        </div>
    </div>
</div>


@if (showModal)
{
    <div class="modal fade show" id="myModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" style="font-weight:bold; font-size:20px;">로그인 확인</h4>
                    <button type="button" class="close" @onclick="@ModalCancel">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <p style="font-weight:bold; font-size:16px;">아이디와 비밀번호를 다시 확인해 주세요!</p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" style="width:93px; height:40px; font-weight:800;" @onclick="@ModalCancel">확인</button>
                </div>

            </div>
        </div>
    </div>
}


